<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--CHANGED FIXED-TOP TO STATIC-TOP-->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SB Tech Review", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SB Tech Review</p>
            <p class="footer">
                What the turtle did you just turtling say about me, you little turtle? I’ll have you know I graduated top of my class in the WCCI, and I’ve been involved in numerous secret raids on Tech Elevator, and I have over 300 github repositories. I am trained in every coding language and I’m the best hacker in the entire US. You are nothing to me but just another target. I will wipe you the turtle out with precision the likes of which has never been seen before on this Earth, mark my turtling words. You think you can get away with saying that turtle to me over the Internet? Think again, turtler. As we speak I am contacting my secret network of hackers across the USA and your IP is being traced right now so you better prepare for the storm, turtle. The storm that wipes out the pathetic little code in your project. You’re turtling done, kid. I can be anywhere, anytime, and I can hack you in over seven hundred ways, and that’s just with C#. Not only am I extensively trained in CSS, but I have access to the entire code of Bootstrap and I will use it to its full extent to wipe your miserable code off the face of the continent, you little turtle. If only you could have known what unholy retribution your little “clever” comment was about to bring down upon you, maybe you would have held your turtling tongue. But you couldn’t, you didn’t, and now you’re paying the price, you bent-neck giraffe. I will turtle fury all over you and you will drown in it. You’re giraffing done, kiddo.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
