@model IEnumerable<TechReviewMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}

@*PAGE TITLE*@
<h2 class="review-page-header">Reviews</h2>

@*CREATE NEW REVIEW*@
<p class="new-review">
    <button type="button" class = "btn btn-info create-new" onclick="location.href='@Url.Action("Create", "Reviews")'">Write a Review</button>
</p>

@*ROW CONTAINING REVIEW INFORMATION*@
<div class="row">
    @*LOOP THAT IS ABLE TO HANDLE NEW REVIEW ADDITIONS*@
    @foreach (var item in Model)
    {
        @*IMAGES FOR REIVEW CATEGORIES*@
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="CategoryPic">
                @if (item.Category.CategoryName == "Game Console")
                {
                    <div class="gameImage">
                        <img src="~/images/gamepad-1837422_1280.png" class="img-responsive" />
                    </div>
                }
                else if (item.Category.CategoryName == "Mobile Device")
                {
                    <div class="mobileImage">
                        <img src="~/images/smartphone-1917228_1280.png" class="img-responsive" />
                    </div>
                }
                else if (item.Category.CategoryName == "Mac/PC")
                {
                    <div class="cpuImage">
                        <img src="~/images/monitor-155158_1280.png" class="img-responsive" />
                    </div>
                }
                else
                {
                    <div class="defaultImage">
                        <img src="~/images/monitor-155158_1280.png" class="img-responsive" />
                    </div>
                }
            </div>
        </div>
        @*REVIEW*@
        <div class="col-xs-10 col-sm-10 col-md-10"> 
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="category-header">Category:&nbsp;@Html.DisplayFor(modelItem => item.Category.CategoryName)</h4>
                    <h3 class="review-header">@Html.DisplayFor(modelItem => item.ReviewTitle)</h3>
                    <p class="review-author">@Html.DisplayFor(modelItem => item.Author)</p>
                    <p class="review-body">@Html.DisplayFor(modelItem => item.ReviewBody)</p>
                    <p class="review-date">Published:&nbsp;@Html.DisplayFor(modelItem => item.Date)</p>
                    @*BUTTONS FOR DETAILS, EDIT, AND DELETE*@
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-info", role = "button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }, new { @class = "btn btn-info", role = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID }, new { @class = "btn btn-info", role = "button" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>






@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Starred)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Starred)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>*@
